.center {
  text-align: center;
display:block;
margin: 0 auto;

}

body{
  font-family: 'Exo', sans-serif;
}

h1 {
  color: red
}

li{
  display: inline;
  padding :10 px;
}
nav-item{
  display: inline;
  padding: 10px;
}
